* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    /*padding: 15px;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.alt_ul{
	display: none;
}

.top_baner{
	float: left;
	color:#D2D2D2;
	
	/*margin-left: 5%;
	margin-top: 0.7%;*/
	
	width: 25%;
    float: left;
}

nav{
	float: right;
	
	width: 75%;
    float: left;
    padding-left: 30%;

}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    div.main_ul{
    	display: none;
    }
    .alt_ul{
    	display: block;
    }
    .top_baner{
    	float: none;
    }

    nav{
    	padding-left: 15px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    background: #F5F7FA;
    font: 14px/20px Arial, sans-serif;
    /*border: 1px solid red;*/
}

header{
	background-color: #242424;
}

.main_ul ul{
	display: inline;
	align-self: right;
	float: left;
	
}

.main_ul ul li{
	display: inline;
}

.main_ul a{
	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 14px;
  	
  	border-radius: 10px;
}

.main_ul a:hover {
    background-color: #ddd;
    color: black;}

.main_ul a.active {
  background-color: #DF6156;
  color: white;
}




.alt_ul ul{
	margin-top: 15px;
	display: inline;
	align-self: right;
	float: left;
	list-style-type: none;
	
}

.alt_ul ul li{
	/*display: inline;*/
	margin-bottom: 40px;
}

.alt_ul a{
	
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 10px;
  	text-decoration: none;
  	font-size: 12px;
  	
  	border-radius: 10px;
}

.alt_ul a:hover {
    background-color: #ddd;
    color: black;}

.alt_ul a.active {
  background-color: #DF6156;
  color: white;
}


.top_baner{
	color:#D2D2D2;
	padding-top: 13px;
	padding-left: 22px;
	
	
	
	font-size: 18px;
	
}

main{
    flex: 1 0 auto;
	/*border: 1px solid blue;*/
	background-color: #F5F4F0;
}

.main_baner{
	background-color: #79CBC7;
	border-top: 8px solid #4EA4A1;
}

.main_baner img {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.main_baner h2{
	color: #FEFEFE;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	padding-top: 30px;
}

.pre_btn{
	
	width: 100%;
	/*border: 2px solid green;*/
	/*padding-top: 3%;
	padding-bottom: 3%;*/
}

.btn{
	margin-left: auto;
    margin-right: auto;
    width: 220px;
	/*border: 2px solid black;*/
}


.btn button{
	color: #FEFDFF;
	width: 220px;
	height: 50px;
    background-color: #E25F54;
    border-radius: 5px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    background-image: url(img/ico.png);
    background-repeat: no-repeat;
    background-position: 25px 15px;
    background-size: 20px 20px;
    box-shadow: 0px 5px 7px #9C4D49;
    margin-bottom: 25px;
}



.services_info{
	background-color: #F5F4F0;
	height: 100%;
	/*border: 1px solid green;*/
	border-top: 13px solid #E4E4DC;
}

.services_info h1{
	color: #828484;
	text-align: center;
	margin-top: 50px;
}


.services_info h3{
	color: #79CBC7;
	text-align: center;
	margin-top: 12px;
}

.services_cont{
	/*border: 1px solid red;*/
}

.bg{
	/*border: 1px solid black;*/
	margin-right :25%;
	margin-left :25%;
	margin-top: 10%;
	padding-bottom: 10px;
}

.bg ul{
	text-decoration: none;
	padding-top: 5px;
	padding-left: 20px;
}

.info_align{
	/*border: 1px solid red;*/
	margin:0 auto;
}
.bg a{
	text-decoration: none;

}

.info_icons{
	color:white;
	font-size: 800%;
	background-color: #333F4D;
	text-align: center;
	border-radius: 5px;
	height: 200px;
	padding-top: 35px;
	box-shadow: 0px 5px 7px black;
}

.design{
	background-color: #333F4D;
	box-shadow: 0px 5px 7px #0A171F;
}

.development{
	background-color: #79CBC7;
	box-shadow: 0px 5px 7px #477A77;
}
.support{
	background-color: #A1D29B;
	box-shadow: 0px 5px 7px #647D61;
}

h3.z{
	color: #477A77;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 25px;
}

.bg a{
	
	color:#79CBC7;
	text-decoration: none;
}

.bg p{
	color:#ABAAA8 ;

}

.bg ul{
	color:#3A393D ;
	padding-left: 14px;
	list-style-type: square;
	margin-bottom: 15px;

}

.bg li:before {
    color: red; 
	}

footer {
    flex: 0 0 auto;
    height: 80px;
    background: #3498DB;
    /*border: 2px solid green;*/
}

