body{
	background-color: #494949;
}
.main{
	border:1px solid red;
	
}
#showPict{
	width: 90%;
	border:1px solid blue;


}
.btn{
	position: absolute;

    transform: translate(-50%, -50%);
    padding: 20px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0.5;
	/*    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */*/
}
#next{
   	top: 30%;
    right:48%;
}
#prev{
   	top: 30%;
    left: 3%;
}
.btn:hover {
    background-color: #343D46; /* Green */
    color: white;
}

