body{
	background-color: #494949;
}
.main{
	/*border:1px solid red;
	*/
}

.btn{
	position: absolute;

    transform: translate(-50%, -50%);
    padding: 20px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0.5;
	/*    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */*/
}
#next{
   	top: 25%;
    right:60%;
}
#prev{
   	top: 25%;
    left: 3%;
}
.btn:hover {
    background-color: #343D46; /* Green */
    color: white;
}

#showPict{
	/*width: 30%;*/
	/*s*/
	/*animation-name: rotate;
  	animation-duration: 0.5s;*/

}



.img_o {
  width: 40%;
  animation-name: scale;
  animation-duration: 0.6s;
}
/*.res{
	animation-name: rotate;
  	animation-duration: 0.5s;
}*/


@keyframes scale {
  from {transform: scale(0.4);} 
  to {transform: scale(1);}
}

@keyframes rotate {
  from {transform: rotate(0deg);} 
  to {transform: rotate(359deg);}
}


/*img {
  animation-name: blur;
  animation-duration: 2s;
}

@keyframes blur {
  from {filter: blur(3px)} 
  to {filter: blur(0px)}
}*/