* {box-sizing: border-box}
body {margin:0;background-color: #B8CBDB}
.pictures {display: none}
img {vertical-align: middle;
      width: 100%;
    }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border:1px solid red;
}

.prev, .next {

  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.active{
  background-color: #717171;
}

.blur {
  animation-name: blur;
  animation-duration: 2s;
}

@keyframes blur {
  from {filter: blur(3px)} 
  to {filter: blur(0px)}
}

